<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dw.mapper.PosPrinterTaskMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
    <resultMap id="PosPrinterTaskResultMap" type="com.dw.entity.PosPrinterTask"></resultMap>
    <resultMap id="RePrinterTaskResultMap" type="com.dw.dto.RePrinterDto"></resultMap>

    <select id="getPrinterTasks" resultMap="RePrinterTaskResultMap" useCache="false">
        SELECT
        t.id as id,t.SERIAL_NUMBER as serialNumber,t.STATION as station,t.REF_NUM as refNum, t.SUB_REF as subRef,t.TABLE_NUM as tableNum,t.TYPE as type, t.PERSONS as persons, t.STAFF_NAME as staffName,IFNULL(p.DESC1, p.DESC2) as printerName,T.SEND_TIME as sendTime,
        t.PRINT_STATUS as printStatus,d.ITEM_NAME as itemName,t.TITLE as remark
        FROM tb_pos_printer_task t
        LEFT JOIN tb_pos_printer_task_detail d ON t.SERIAL_NUMBER = d.SERIAL_NUMBER
        LEFT JOIN tb_pos_printer p ON t.PRINTER=p.P_CODE
        WHERE d.TYPE = 'ITEM'
        <if test="printStat != null and printStat !=''">
            and t.PRINT_STATUS = #{printStat}
        </if>
        GROUP BY t.SERIAL_NUMBER
        ORDER BY t.SEND_TIME desc
    </select>



</mapper>